@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
@CHARSET "UTF-8";
.padding-8 {
  padding: 8px;
}
.case {
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
}
.vide {
  background-color: white;
  cursor: pointer;
}
#jeu, #erreurNomJoueur {
  display: none;
}

@media (min-width: 500px) and (max-width: 768px){
	.case {
		font-size: 20px!important;
	}	
}
@media (max-width: 500px){
	.case {
		font-size: 10px!important;
	}	
}